@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --card-shadow: -8px 8px 16px 8px rgba(0, 0, 0, 0.15);
}

* {
    scroll-behavior: smooth;
}

.text-gradient__green {
    background: linear-gradient(96.71deg, #a7c957 19.15%, #386641 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.text-gradient__orange {
    background: linear-gradient(94.16deg, #e79241 20.98%, #df6d65 73.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.bg-green-gradient {
    background: linear-gradient(93.32deg, #386641 3.17%, #143601 105.6%);
}

.button-gradient {
    background: linear-gradient(
        97.85deg,
        #31643b -1.08%,
        #1a4301 28.04%,
        #143601 93.05%
    );
}

.sidebar {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.sidebar-close {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }
    100% {
        -webkit-transform: translateY(70px);
        transform: translateY(70px);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }
    100% {
        -webkit-transform: translateY(70px);
        transform: translateY(70px);
    }
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(70px);
        transform: translateY(70px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(70px);
        transform: translateY(70px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.subscription-card {
    background: white;
    box-shadow: var(--card-shadow);
}

